* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    /* scrollbar-color: #000; */
    scroll-behavior: smooth;
    /* display: nonÇe; */
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(34, 34, 34, 0.85);
    scroll-behavior: smooth;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    background: #0c4160;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:active{
    background-color: #0c4160;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f2f2;
}

.panel.is-active {
    opacity: 0;
    transform: translate(0, 0);
}

.panel-btn {
    position: fixed;
    z-index: 998;
    top: -0.3rem;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #f2f2f2;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel {
    position: fixed;
    z-index: 997;
    top: 0;
    /* padding-top: 13rem; */
    /* padding-bottom: 8rem; */
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #111;
    opacity: .8;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease;
    transform: translate(-100%, 0);
    opacity: 1;
    /* visibility: hidden; */
    overflow-y: auto;
}

.panel.is-active {
    opacity: 1;
    transform: translate(0, 0);
}

.fondo {
    min-height: 100vh;
    width: 100%;
    position: relative;
    top: 4;
    background-image: url(/img/default-header-bg.jpg);
    /* clip-path: circle(180vh at 50% -80vh); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.fondo::before {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 4;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    content: "";
    /* background-image: url(/img/default-header-bg.jpg); */
}

header {
    display: flex;
    height: 3.7rem;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid #fff;
    position: fixed;
    background-image: linear-gradient( 94.3deg,  rgb(15, 20, 39) 10.9%, rgb(33, 39, 128) 87.1% );
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 998;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 62%;
}

.logo_img {
    width: auto;
    height: 3.3rem;
    border-radius: 15px;
    padding: 2px 12px;
    margin: 0;
}

.title {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-left: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.title span {
    color: #ff914d;
    font-weight: bold;
}

.nav-bar-responsive {
    display: none;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar ul li {
    padding: 3rem 0 0 0;
}

.nav-bar ul li:last-child {
    padding-left: 3rem;
}

.nav-bar li {
    position: relative;
    overflow: hidden;
}

.nav-bar li::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    transform: translateX(-100%);
    transition: all 0.4s;
}

.nav-bar li:hover::before {
    transform: translateX(0%);
    background-color: #FF5A00;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #ff914d;
    font-size: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}

.nav-bar ul li:hover a {
    color: #f2f2f2;
    font-weight: bold;
}

.fondo div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* line-height: 50px; */
}

.text {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.225;
    padding: 0 16px;
}

.fondo div .text .service {
    font-weight: bold;
    /* color: #ff914d; */
    color: #fff;
    font-style: normal;
    
}

.main-content {
    /* height: 100vh; */
    padding: 84px 0 92px 0;
    width: 100%;
    /* background-image: linear-gradient( 109.6deg,  rgba(204,228,247,1) 11.2%, rgba(237,246,250,1) 100.2% ); */
    background-image: radial-gradient( circle 621px at 25.3% 13.8%,  rgba(255,255,255,1) 0%, rgba(234,236,255,1) 90% );
}

/* @media screen and (max-width: 769px) {
    .main-content {
        height: 77vh;
    }
} */

@media screen and (max-width: 550px) {
    .main-content {
        height: 105vh;
        padding: 34px 0;
    }
}

@media screen and (max-width: 410px) {
    .main-content {
        height: 135vh;
        padding: 44px 0;
    }
}

@media screen and (max-width: 376px) {
    .main-content {
        height: 108vh;
        padding: 44px 0;
    }
}

@media screen and (max-width: 361px) {
    .main-content {
        height: 120vh;
        padding: 44px 0;
    }
}

@media screen and (max-width: 321px) {
    .main-content {
        height: 134vh;
        padding: 44px 0;
    }
}

.subtitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 0 8px 0;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    
}

.container {
    width: 100%;
    /* max-width: 1200px; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    /* margin: auto; */
    flex-direction: row;
    position: relative;
    padding: 4px;
    
}

.container-card .card{
    width: 280px;
    height: 532px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px 10px;
    text-align: center;
    transition: all 0.25s;
    background-color: #f7f7f7;
    position: relative;
}

.container-card .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}

.container-card .card .imgBx, .container-card .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-card .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-card .card .imgBx .ver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 25px auto;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 5px 24px;
    transition: all .5s ease-in;
}

.container-card .card .imgBx .ver span {
    padding-left: 14px;
} 

.container-card .card .imgBx .ver:hover {
    background-color: #222;
}

.container-card .card .content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    transform: scaley(0);
    transition: all 0.5s ease-in-out;
    transform-origin: top;
    transition-delay: 0.5s;
}

.container-card .card:hover .content::before {
    transform: scaley(1);
    transition: all 0.5s ease-in-out;
    transform-origin: top;
    transition-delay: 0s;
}

.container-card .card .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-card .card .content .contentBx {
    position: relative;
    z-index: 1;
    transition: 0.5s;
    transform: translateY(-600px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
    transition-delay: 0s;
    
}

.container-card .card:hover .content .contentBx {
    transform: translateY(0px);
    transition-delay: 0.5s;
}

.container-card .card .content .contentBx h4 {
    font-weight: 600;
    background-image: linear-gradient( 94.3deg,  rgb(15, 20, 39) 10.9%, rgb(33, 39, 128) 87.1% );
    padding: 2.5rem 10px;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
}

.container-card .card .content .contentBx h4:hover {
    color: #ff914d;
}

.container-card .card .content .contentBx p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container-card .card .content .contentBx a {
    font-weight: 500;
    text-decoration: none;
    color: #0c4160;
    padding: 1rem 0;
}

.container-card .card .content .contentBx a:hover {
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

/*Responsive Slider*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.slider-btns {
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    /* z-index: 21; */
    /* font-size: 2rem; */
    /* font-weight: bold; */
    align-items: center;
    text-align: center;
    /* overflow: hidden; */
}

.slider-btns .arrow {
    outline: none;
    border: none;
    background-color: transparent;
    /* border: 2px solid #000; */
    border-radius: 20px;
    /* padding: 5px 24px; */
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    border-radius: 15px;
    color: #fff;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/**/

/*Scroll-top btn*/
.scroll-top {
    position: fixed;
    z-index: 996;
    background-color: #000;
    outline: none;
    padding: 6px;
    bottom: 3vh;
    right: 2.5vw;
    /* top: 45.5vw; */
    width: 2.5rem;
    height: 2.4rem;
    border: none;
    text-decoration: none;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f2f2f2;
    font-size: 1.6rem;
    font-weight: bold;
    transition: all .3 ease-out;
    margin: 0;
}

.scroll-top.dark-mode {
    background-color: #f2f2f2;
    color: #222;
}

.scroll-top:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #ff914d;
    color: #222;
    cursor: pointer;   
}

.hidden {
    opacity: 0;
    visibility: hidden;
}
/* */

.slogan {
    height: 282px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-image: linear-gradient( 94.3deg,  rgb(15, 20, 39) 10.9%, rgb(33, 39, 128) 87.1% );
    color: #f2f2f2;
    padding: 0 .8rem;
}

.slogan-phrase {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1rem 0;
}

.slogan-phrase span {
    background-color: #ff914d;
}

.slogan-phrase-2 {
    padding: 0.5rem 0;
    font-size: .8rem;
}

.slogan-2 {
    display: flex;
    flex-wrap: wrap;
    height: 282px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 94.3deg,  rgb(15, 20, 39) 10.9%, rgb(33, 39, 128) 87.1% );
    font-size: 1.5rem;
}

.call {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 24px 12px;
    text-align: center;
    color: #fff;
    
}

.call p {
    width: 100%;
    padding: 0 14px;
    margin: 10px 0;
}

.call p span {
    text-transform: uppercase;
}

.call .btn-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    background: transparent;
    border: transparent;
}

.call .btn-hover .button {
    position: relative;
    width: 260px;
    height: 50px;
    margin: 15px 10px;
    background: transparent;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

.call .btn-hover .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #ff914d;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.call .btn-hover .button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: #ff914d;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}

.call .btn-hover .button:hover::after,.btn-hover .button:hover::before {
    width: 50%;
    transition-delay: 0s;
}

.call .btn-hover .button span {
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
}

.call .btn-hover .button span:nth-child(1) {
    transition-delay: 0.55s;
}

.call .btn-hover .button:hover span:nth-child(1) {
    transform: scale(0);
    transition-delay: 0s;
}

.call .btn-hover .button span:nth-child(2) {
    transform: scale(3);
    opacity: 0;
    color: #111;
    transition-delay: 0s;
    text-transform: uppercase;
    font-weight: 200;
}

.call .btn-hover .button:hover span:nth-child(2) {
    transform: scale(1);
    transition-delay: 0.5s;
    opacity: 1;
    text-transform: uppercase;
}

.section-2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.bg-black {
    width: 100%;
    height: 100vh;
    padding: 64px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width: 550px) {
    .bg-black, .bg-black::before {
       height: 100vh;
   }
   
}

@media screen and (max-width: 420px) {
    .bg-black, .bg-black::before {
       height: 100vh;
   }
   
}

@media screen and (max-width: 321px) {
    .bg-black::before {
       height: 128vh;
   }

   .bg-black {
       height: 128vh;
   }
   
}

.bg-black::before {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    content: "";
    background-repeat: no-repeat;
}

.bg-black div {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    
}

.bg-black h3 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px;
    color: #fff;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;  
}

.bg-black h3::before {
    content: "";
    position: absolute;
    bottom: -15px;
    margin: 20px 0 0 0;
    width: 8rem;
    height: 4px;
    background: #fff;
}

.section-2 .bg-black .figure-2 {
    display: flex;
    /* flex-direction: column !important; */
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
    text-align: justify;
    padding: 14px 4px;
    line-height: 1.625;
    color: #fff;
    position: absolute;
    margin: auto;
    top: 25%;
}

.bg-black .figure-2 img, .bg-black .figure-2 figcaption {
    width: 100%;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-random {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(/img/bg-cool.png);
}

.title-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin: 0;
    padding-top: 64px;
    text-transform: uppercase;
}

.title-content::before {
    content: "";
    position: absolute;
    bottom: -15px;
    margin: 20px 0 0 0;
    width: 8rem;
    height: 4px;
    background: #fff;
}

.container-card-2 {
    /* position: relative; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container-card-2 .card {
    /* position: relative; */
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 40px;
    padding: 20px 15px;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    transition: all .3s ease-in-out;
}

.container-card-2 .card:hover {
    height: 350px;
    cursor: pointer;
}

.container-card-2 .card .imgBx {
    position: relative;
    width: 260px;
    height: 200px;
    top: -60px;
    left: 8px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}

.container-card-2 .card .imgBx img {
    width: 100%;
    border-radius: 4px;
    height: 100%;
    background: #fff;
}

.container-card-2 .card .content-card {
    /* position: relative; */
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.container-card-2 .card .content-card h2 {
    text-transform: uppercase;
    margin-bottom: 8px;
}

.container-card-2 .card .content-card p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.625;
}

.container-card-2 .card:hover .content-card {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: .3s;
}

@media screen and (max-width: 1000px) {
     .container-card-2 {
        height: 190vh;
    }
    
}

@media screen and (max-width: 550px) {
    .container-card-2 {
       height: 200vh;
   }
   
}

@media screen and (max-width: 410px) {
    .container-card-2 {
       height: 250vh;
   }
   
}


.footer {
    display: flex;    
    width: 100%;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-direction: column;
    
}

.footer .footer-section-1 {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(0, 0, 0) 0%, rgba(34,34,34,1) 90% );
    text-align: center;
    color: #f2f2f2;
}

.footer .footer-section-1 figure {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 34px;
}

.footer .footer-section-1 figure img, .footer .footer-section-1 figure figcaption {
    padding: 6px;
}

.footer .footer-section-1 figure figcaption span {
    color: #ff914d;
}

.footer .footer-section-1 .empresas, .footer .footer-section-1 .footer-servicios, .footer .footer-section-1 .oficinas  {
    width: 70%;
    margin-top: 2.5rem;
    text-align: left;
    padding-left: 14px;
}

.footer .footer-section-1 .empresas ul, .footer .footer-section-1 .footer-servicios ul {
    padding-left: 14px;
}

.footer .footer-section-1 .oficinas {
    display: flex;
    flex-direction: column;
    /* line-height: 1.2; */
}

.footer .footer-section-1 .oficinas .argentina, .footer .footer-section-1 .oficinas .venezuela {
    padding-left: 14px;
    padding-bottom: 14px;
    /* list-style: 1.625; */
}

.footer .footer-section-1 .oficinas .argentina a, .footer .footer-section-1 .oficinas .venezuela a {
    text-decoration: none;
    color: #d3d3d3;
}

.footer .footer-section-1 .oficinas .argentina a:hover, .footer .footer-section-1 .oficinas .venezuela a:hover {
    opacity: .7;
}

.footer .footer-section-1 figure img {
    border-radius: 8px;
}

.footer .footer-section-1 .empresas p, .footer .footer-section-1 .footer-servicios p {
    margin-bottom: 18px;
    /* font-size: 14px; */
}

.footer .footer-section-1 .oficinas p {
    margin-bottom: 10px;
}

.footer .footer-section-1 .empresas ul, .footer .footer-section-1 .footer-servicios ul {
    list-style: none;
    line-height: 1.625;
}

.footer .footer-section-1 .empresas ul li a, .footer .footer-section-1 .footer-servicios ul li a {
    text-decoration: none;
    color: #d3d3d3;
    font-weight: 100;
}

.footer .footer-section-1 .empresas ul li a:hover, .footer .footer-section-1 .footer-servicios ul li a:hover {
    opacity: .7;
} 

.footer .footer-section-1 .slogan-3 {
    margin-top: 2rem;
    text-align: center;
    padding: 22px 10px;
    font-size: .8em;
    color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer .footer-section-2 {
    width: 100%;
    padding: 32px 0;
    height: auto;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(34, 34, 34, 1) 0%, rgba(0,0,0) 90% );
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
}

.footer .footer-section-2 .footer-article {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    color: #d6d6d6;
    font-size: .8em;
    align-items: center;
    flex-direction: column;
}

.footer .footer-section-2 .footer-article .social-links a {
    text-decoration: none;
    color: #d5d5d5;
}

.footer .footer-section-2 .footer-article .social-links a i {
    font-size: 1.4rem;
    padding: 9px 4px;
}

.footer .footer-section-2 .footer-article .social-links a .facebook:hover {
    color: #3b5998;
    padding: 3px;
    border-radius: 8px;
}

.footer .footer-section-2 .footer-article .social-links a .instagram:hover {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    padding: 3px;
    border-radius: 8px;
    /* border-radius: 15px; */
}
















/* Loader css */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.loader .loading {
    position: relative;
    width: 250px;
    height: 250px;
}

.loader .loading .blocks {
    position: absolute;
    width: 8px;
    height: 25px;
    background: #fff;
    left: 50%;
    border-radius: 8px;
    transform: rotate(calc(18deg * var(--i)));
    transform-origin: 0 125px;
    animation: load 1.9s ease-in-out infinite;
    animation-delay: calc(0.05s * var(--i));
}

@keyframes load {
    0%,50% {
        background: #fff;
        box-shadow: none;
    }

    50.1%,100% {
        background: #ff914d;
        box-shadow: 0 0 5px #ff914d,
                    0 0 15px #ff914d,
                    0 0 30px #ff914d,
                    0 0 60px #ff914d,
                    0 0 90px #ff914d;
    }
}

.loader .loading .text-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 2em;
    letter-spacing: 2px;
    animation: animateText 2px ease-in-out infinite;
    animation-delay: -1s;
}

@keyframes animateText {
    0%,50% {
        color: #fff;
        text-shadow: none;
    }

    50.1%,100% {
        color: #ff914d;
        text-shadow: 0 0 5px #ff914d,
                    0 0 15px #ff914d,
                    0 0 30px #ff914d;
    }
}

/* Responsive Design */
@media screen and (min-width: 1024px) {
    .panel {
        position: sticky;
        top: 0;
        opacity: 1;
        visibility: hidden;
        transform: translate(0, 0);
        align-self: start;
        padding: 1rem;
        background-color: #f2f2f2;
        height: 3.5rem;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        overflow-y: hidden;
    }

    .logo {
        width: 25%;
        justify-content: flex-start;
        
    }

    .logo_img {
        padding: 2px 0;
        margin: 0 0 0 32px;
        width: auto;
        height: 3.6rem;
        border-radius: 2px;
    }

    .nav-bar-responsive {
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: flex-end;
        align-items: center;
        transition: all .3s ease;
    }

    .nav-bar-responsive ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-bar-responsive li {
        padding: 0 42px;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
    }

    .nav-bar-responsive li::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        transform: translateX(-100%);
        transition: all 0.4s;
    }

    .nav-bar-responsive li:hover::before {
        transform: translateX(0%);
        background-color: #ff914d;
    }

    .nav-bar-responsive a {
        text-decoration: none;
        color: #fff;
        
    }

    .nav-bar-responsive ul li:hover a {
        color: #ff914d;
        font-weight: bold;
        /* text-shadow: -1px -1px 10px lightskyblue,
    1px 1px 10px lightskyblue; */
    }

    .panel-btn {
        display: none;
        visibility: hidden
    }

    .text {
        font-size: 4rem;
    }

    .main-content {
        padding: 74px 0;
    }

    .container-card .card {
        width: 330px;
        height: 532px;
    }

    .slogan {
        height: 216px;
    }

    .slogan-phrase {
        font-size: 2rem;
    }

    .slogan-phrase-2 {
        font-size: 1rem;
    }

    .slogan-2 {
        height: 180px;
    }

    .call p {
        width: 50%;
    }

    .call .btn-hover {
        width: 30%;
    }

    .bg-black, .bg-black::before {
        height: 70vh !important;
    }
    
    .bg-black .figure-2 {
        display: flex;
        flex-direction: row;
        width: 95%;
        margin-top: 40px;
        justify-content: space-around;
    }

    .bg-black h3 {
        color: #fff;
        font-size: 2rem;
    }

    .bg-black .figure-2 img {
        width: 45%;
    }
    
    .bg-black .figure-2 figcaption{
        padding: 12px;
        font-size: 1.1rem;
        width: 45%;
        margin-right: 8px;
    }
    
    .bg-black .figure-2 img {
        padding: 32px 8px 32px 32px;
    }

    .footer .footer-section-1 figure {
        width: 38%;
        display: flex;
        justify-content: flex-start;
    }

    .footer .footer-section-1 .empresas, .footer .footer-section-1 .footer-servicios, .footer .footer-section-1 .oficinas {
        width: 20%;
        text-align: right;
    }

    .footer .footer-section-2 .footer-article .social-links a i {
        margin-right: 1.2rem;
    }
    

    
}






