.text span {
    background-color: #ff914d;
}

.section-web .article-web {
    background-color: #e9e9e9;
    padding: 64px 0;
    height: 100%;
    width: 100%;
}

.section-web .article-web h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    margin: 10px 0 8px 0;
    padding: 10px;
    position: relative;
}

.section-web .article-web h2::before {
    content: "";
    position: absolute;
    bottom: -15px;
    margin: 20px 0 0 0;
    width: 8rem;
    height: 4px;
    background: #000;
}

.section-web .article-web figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.section-web .article-web figure figcaption, .section-web .article-web figure img {
    width: 100%;
    padding: 8px 14px;
}

.section-web .article-web figure figcaption p {
    text-align: justify;
    line-height: 1.625;
    margin-bottom: 10px;
    font-size: 16px;
}

.section-web {
    width: 100%;
    height: 100%;
    position: relative;
}

.section-web .article-web-2 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #111;
}



/* .section-web .article-web-2 {
    position: relative;
    min-height: 100vh;
    padding: 64px 0;
    background-image: url(/img/web-desing-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-web .article-web-2::before {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    content: "";
    background-repeat: no-repeat;
}

.section-web .article-web-2 .title-web {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 8px 0 12px 0;
}


.section-web .article-web-2 div {
    position: absolute;
} */




@media screen and (min-width: 1024px) {
    .section-web .article-web figure figcaption, .section-web .article-web figure img {
        width: 50%;
    }

    
}